.btn-tip{
    background-color: rgb(21, 21, 129);
    color: white;
}

.btn-paycheck{
    background-color: rgb(12, 85, 12);
    color: white;
}

.btn-grade{
    background-color: rgb(206, 166, 34);
    color: white;
}

.btn-gas{
    background-color: rgb(114, 25, 25);
    color:white;
}